<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

     <script type="text/javascript" src="{{ url_for('static',filename = 'go-debug.js')}}"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Designing an interactive tool for program comprehension from static analysis</title>
</head>
<body onload="init()">

    <div id="sample">
        <button type="button" class="btn">Show the cluster</button>

  <div id="myDiagramDiv" style="background-color: white; border: solid 1px black; width: 100%; height: 550px"></div>

</div>


</body>

<script >
    function init() {
        Url = 'http://127.0.0.1:5000/api/v1/get_cluster'
        $('.btn').click(function () {
            $.getJSON(Url, function (result) {
                alert(result)
                console.log(result)
            })
        })


    }

</script>

</html>