<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

     <script type="text/javascript" src="{{ url_for('static',filename = 'go-debug.js')}}"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <title>Designing an interactive tool for program comprehension from static analysis</title>
</head>
<body onload="init()">

    <div id="sample">

   <div>
        <h3>Interactive tool for program comprehension through static analysis: ITpcSA</h3>
        <button onclick="printDiagram()" class="btn"> GET Image </button>
   </div>
        <div>
            <h2 style="margin-left: auto; margin-right: auto"> Full diagram</h2>
        </div>

  <div id="fullDiagram" style="height:450px;width:100%;border:1px solid black;margin:2px"></div>
        <div><h2> Local diagram</h2></div>

  <div id="localDiagram" style="height:250px;width:100%;border:1px solid black;margin:2px"></div>

        <button onclick="get_cluster()" class="btn"> GET Cluster </button>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <form action="{{url_for('save_response')}}" method="post" id="user_feedback">
           <div class="form-group">
                 <label> Description of the cluster functionality </label>
                 <label id="cluster_description">  </label>
          </div>


          <div class="form-group">
                 <label>Technique 1</label> <br>
                 <label id="tech1"></label><br>
                  <label><input type="radio" name="n_t1" value="2"  >Strongly Agree</label>
                  <label><input type="radio" name="n_t1" value="1"  >Agree</label>
                  <label><input type="radio" name="n_t1" value="-1"  >Disagree</label>
                  <label><input type="radio" name="n_t1" value="-2"  >Strongly Disagree</label>

          </div>
            <div class="form-group">
                 <label>Technique 2</label> <br>
                 <label id="tech2"></label><br>
                  <label><input type="radio" name="n_t2" value="2"  >Strongly Agree</label>
                  <label><input type="radio" name="n_t2" value="1"  >Agree</label>
                  <label><input type="radio" name="n_t2" value="-1"  >Disagree</label>
                  <label><input type="radio" name="n_t2" value="-2"  >Strongly Disagree</label>

          </div>
            <div class="form-group">
                 <label>Technique 3</label> <br>
                 <label id="tech3"></label><br>
                  <label><input type="radio" name="n_t3" value="2"  >Strongly Agree</label>
                  <label><input type="radio" name="n_t3" value="1"  >Agree</label>
                  <label><input type="radio" name="n_t3" value="-1"  >Disagree</label>
                  <label><input type="radio" name="n_t3" value="-2"  >Strongly Disagree</label>

          </div>
            <div class="form-group">
                 <label>Technique 4</label> <br>
                 <label id="tech4"></label><br>
                  <label><input type="radio" name="n_t4" value="2"  >Strongly Agree</label>
                  <label><input type="radio" name="n_t4" value="1"  >Agree</label>
                  <label><input type="radio" name="n_t4" value="-1"  >Disagree</label>
                  <label><input type="radio" name="n_t4" value="-2"  >Strongly Disagree</label>

          </div>
            <div class="form-group">
                 <label>Technique 5</label> <br>
                 <label id="tech5"></label><br>
                  <label><input type="radio" name="n_t5" value="2"  >Strongly Agree</label>
                  <label><input type="radio" name="n_t5" value="1"  >Agree</label>
                  <label><input type="radio" name="n_t5" value="-1"  >Disagree</label>
                  <label><input type="radio" name="n_t5" value="-2"  >Strongly Disagree</label>

          </div>
            <div class="form-group">
                 <label>Technique 6</label> <br>
                 <label id="tech6"></label><br>
                  <label><input type="radio" name="n_t6" value="2"  >Strongly Agree</label>
                  <label><input type="radio" name="n_t6" value="1"  >Agree</label>
                  <label><input type="radio" name="n_t6" value="-1"  >Disagree</label>
                  <label><input type="radio" name="n_t6" value="-2"  >Strongly Disagree</label>

          </div>
            <div class="form-group">
            <label for="user_summary" class="col-form-label">Your Summary from the description:</label>
                <input type="text" id="user_summary" name="user_summary">
                <input type="hidden" id="key" name="key">
          </div>
          <div class="form-group">
            <label for="comment" class="col-form-label">Comments:</label>
              <input type="text" id="comment" name="comment">
          </div>
            <input type="submit" value="Submit">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



</body>

<script >

    var subject_system = 1;
    function get_cluster() {
        Url = 'http://127.0.0.1:5000/get_cluster'
        // $('.btn').click(function () {
        //
        // })

        $.getJSON(Url, function (result) {
                alert(result);

                setupDiagram(result);

                console.log(result);
            })
        clearDiagram();

    }



	 function init() {
      //if (window.goSamples) goSamples();  // init for these samples -- you don't need to call this
      var $ = go.GraphObject.make;  // for conciseness in defining templates
      myFullDiagram =
        $(go.Diagram, "fullDiagram",  // each diagram refers to its DIV HTML element by id
          {
            initialAutoScale: go.Diagram.UniformToFill,  // automatically scale down to show whole tree
            //maxScale: 0.25,
            contentAlignment: go.Spot.Center,  // center the tree in the viewport
            isReadOnly: false,  // don't allow user to change the diagram
            "animationManager.isEnabled": true,
            layout: $(go.TreeLayout,
              { angle: 90, sorting: go.TreeLayout.SortingAscending }),
            maxSelectionCount: 1,  // only one node may be selected at a time in each diagram
            // when the selection changes, update the myLocalDiagram view
            "ChangedSelection": showLocalOnFullClick,
              "undoManager.isEnabled": true
          });

      myLocalDiagram =  // this is very similar to the full Diagram
        $(go.Diagram, "localDiagram",
          {
            autoScale: go.Diagram.UniformToFill,
            contentAlignment: go.Spot.Center,
            isReadOnly: false,
            layout: $(go.TreeLayout,
              { angle: 90, sorting: go.TreeLayout.SortingAscending }),
            "LayoutCompleted": function(e) {
              var sel = e.diagram.selection.first();
              if (sel !== null) myLocalDiagram.scrollToRect(sel.actualBounds);
            },
            maxSelectionCount: 1,
            // when the selection changes, update the contents of the myLocalDiagram
            "ChangedSelection": showLocalOnLocalClick,
              "undoManager.isEnabled": true
          });

      //myFullDiagram.toolManager.textEditingTool.defaultTextEditor = window.TextEditor;
      //myLocalDiagram.toolManager.textEditingTool.defaultTextEditor = window.TextEditor;

      // Define a node template that is shared by both diagrams
      var myNodeTemplate =
        $(go.Node, "Auto",
          { locationSpot: go.Spot.Center },
          new go.Binding("text", "key", go.Binding.toString),  // for sorting
          $(go.Shape, "Rectangle",
            new go.Binding("fill", "color"),
            { stroke: null, name: "SHAPE" }),
          $(go.TextBlock,
            { margin: 5, editable:true},
            new go.Binding("text", "tfidf_word", function(k) { return "node" + k ; })),
            {
                toolTip:                       // define a tooltip for each node
                  $(go.Adornment, "Spot",      // that has several labels around it
                    { background: "transparent" },  // avoid hiding tooltip when mouse moves
                    $(go.Placeholder, { padding: 5 }),
                    $(go.TextBlock,
                      { alignment: go.Spot.Top, alignmentFocus: go.Spot.Bottom, stroke: "red"},
                      new go.Binding("text", "key", function(s) { return "key: " + s; })),
                    $(go.TextBlock, "Bottom",
                      { alignment: go.Spot.Bottom, alignmentFocus: go.Spot.Top, stroke: "red" },
                      new go.Binding("text", "tfidf_word", function(s) { return "Cluster Name: " + s; }))
                  )  // end Adornment
            }

        );
      myFullDiagram.nodeTemplate = myNodeTemplate;
      myLocalDiagram.nodeTemplate = myNodeTemplate;

      // Define a basic link template, not selectable, shared by both diagrams
      var myLinkTemplate =
        $(go.Link,
          { routing: go.Link.Normal, selectable: false },
          $(go.Shape,
            { strokeWidth: 1 })
        );
      myFullDiagram.linkTemplate = myLinkTemplate;
      myLocalDiagram.linkTemplate = myLinkTemplate;


      // Create the full tree diagram
      // setupDiagram();

      // Create a part in the background of the full diagram to highlight the selected node
      highlighter =
        $(go.Part, "Auto",
          {
            layerName: "Background",
            selectable: false,
            isInDocumentBounds: false,
            locationSpot: go.Spot.Center
          },
          $(go.Shape, "Ellipse",
            {
              fill: $(go.Brush, "Radial", { 0.0: "yellow", 1.0: "white" }),
              stroke: null,
              desiredSize: new go.Size(400, 400)
            })
        );
      myFullDiagram.add(highlighter);

       myFullDiagram.addDiagramListener("ObjectContextClicked",
      function(e) {
        var part = e.subject.part;
        if (!(part instanceof go.Link))
        {
            showModal(part);
        }

      });

      // Start by focusing the diagrams on the node at the top of the tree.
      // Wait until the tree has been laid out before selecting the root node.
      myFullDiagram.addDiagramListener("InitialLayoutCompleted", function(e) {
        var node0 = myFullDiagram.findPartForKey(0);
        if (node0 !== null) node0.isSelected = true;
        showLocalOnFullClick();
      });

      myFullDiagram.toolManager.mouseMoveTools.insertAt(2, new DragZoomingTool());



    }

    // Make the corresponding node in the full diagram to that selected in the local diagram selected,
    // then call showLocalOnFullClick to update the local diagram.
    function showLocalOnLocalClick() {
      var selectedLocal = myLocalDiagram.selection.first();
      if (selectedLocal !== null) {
        // there are two separate Nodes, one for each Diagram, but they share the same key value
        myFullDiagram.select(myFullDiagram.findPartForKey(selectedLocal.data.key));
      }
    }

    function showModal(part) {


        // var modal = jQuery(this);
        // modal.find('#tech1').text(part.data.tfidf_method);

        document.getElementById('modal-title').innerHTML = 'Cluster ID: ' + part.data.key;

        document.getElementById('tech1').innerHTML = part.data.tfidf_word;
        document.getElementById('tech2').innerHTML = part.data.tfidf_method;
        document.getElementById('tech3').innerHTML = part.data.lda_word;
        document.getElementById('tech4').innerHTML = part.data.lda_method;
        document.getElementById('tech5').innerHTML = part.data.lsi_word;
        document.getElementById('tech6').innerHTML = part.data.lsi_method;
        document.getElementById('key').value = part.data.key;

        //$('#tech1').val(part.data.tfidf_method)
        // alert("Clicked on " + part.data.key);
        // alert("Clicked on " + part.data.tfidf_method);
        // alert("Clicked on " + part.data.tfidf_word);
        // alert("Clicked on " + part.data.lda_method);
        jQuery('#myModal').modal('show');
    }

    function showLocalOnFullClick() {
      var node = myFullDiagram.selection.first();
      if (node !== null) {
        // make sure the selected node is in the viewport
        myFullDiagram.scrollToRect(node.actualBounds);
        // move the large yellow node behind the selected node to highlight it
        highlighter.location = node.location;
        // create a new model for the local Diagram
        var model = new go.TreeModel();
        // add the selected node and its children and grandchildren to the local diagram
        var nearby = node.findTreeParts(3);  // three levels of the (sub)tree
        // add parent and grandparent
        var parent = node.findTreeParentNode();
        if (parent !== null) {
          nearby.add(parent);
          var grandparent = parent.findTreeParentNode();
          if (grandparent !== null) {
            nearby.add(grandparent);
          }
        }
        // create the model using the same node data as in myFullDiagram's model
        nearby.each(function(n) {
          if (n instanceof go.Node) model.addNodeData(n.data);
        });
        myLocalDiagram.model = model;
        // select the node at the diagram's focus
        var selectedLocal = myLocalDiagram.findPartForKey(node.data.key);
        if (selectedLocal !== null) selectedLocal.isSelected = true;
      }
    }

          jQuery( "#user_feedback" ).submit(function( event ) {

          // Stop form from submitting normally
          event.preventDefault();

          // Get some values from elements on the page:
          var $form = $( this ),
              t1 = $form.find( "input[name='n_t1']" ).val(),
              t2 = $form.find( "input[name='n_t2']" ).val(),
              t3 = $form.find( "input[name='n_t3']" ).val(),
              t4 = $form.find( "input[name='n_t4']" ).val(),
              t5 = $form.find( "input[name='n_t5']" ).val(),
              t6 = $form.find( "input[name='n_t6']" ).val(),
              f_key = $form.find( "input[name='key']" ).val(),
              f_user_summary = $form.find( "input[name='user_summary']" ).val(),
              f_comment = $form.find( "input[name='comment']" ).val(),
            url = $form.attr( "action" );

            // alert(f_key);
            // alert(f_user_summary);
            // alert(f_comment);

          // Send the data using post
          var posting = $.post( url, { n_t1 : t1, n_t2 : t2,n_t3 : t3,n_t4 : t4,n_t5 : t5,n_t6 : t6, key: f_key, user_summary: f_user_summary, comment: f_comment } );

          // Put the results in a div
          posting.done(function( data ) {
            // var content = $( data ).find( "#content" );
            // $( "#result" ).empty().append( content );
              alert(data);
          });
          $("#user_feedback").trigger("reset");
          changeDoneClusterColor(f_key);
        });

    // Create the tree model containing TOTAL nodes, with each node having a variable number of children
    // function setupDiagram(total) {
    //   if (total === undefined) total = 100;  // default to 100 nodes
    //   var nodeDataArray = [];
    //   for (var i = 0; i < total; i++) {
    //     nodeDataArray.push({
    //       key: nodeDataArray.length,
    //       color: go.Brush.randomColor()
    //     });
    //   }
    //   var j = 0;
    //   for (var i = 1; i < total; i++) {
    //     var data = nodeDataArray[i];
    //     data.parent = j;
    //     if (Math.random() < 0.3) j++;  // this controls the likelihood that there are enough children
    //   }
    //   myFullDiagram.model = new go.TreeModel(nodeDataArray);
    // }

    function changeDoneClusterColor(key) {
        var node = myFullDiagram.findNodeForKey(key);
        var shape = node.findObject("SHAPE");
        shape.fill = "#ff66ff";
    }

    function setupDiagram(result) {
        var nodeDataArray = [];
        for (x in result)
            {
                nodeDataArray.push({
                  key: result[x].key,
                    parent: result[x].parent,
                    tfidf_word: result[x].tfidf_word,
                    tfidf_method: result[x].tfidf_method,
                    lda_word: result[x].lda_word,
                    lda_method: result[x].lda_method,
                    lsi_word: result[x].lsi_word,
                    lsi_method: result[x].lsi_method,
                    color: "#cce6ff"
                });

            }
        // Use below line for randomly coloring brushes
        // color: go.Brush.randomColor()

        myFullDiagram.model = new go.TreeModel(nodeDataArray);
        update_nodes_for_study();

    }

    function update_nodes_for_study() {
        var ss1_key = ['6015', '6001', '5991', '5430'];
        var ss2_key = ['6015', '6001', '5991', '5430'];
        var ss3_key = ['6015', '6001', '5991', '5430'];
        alert(subject_system);
        for (i=0; i < 4; i++)
        {
            if(subject_system == 1)
            {
                var node = myFullDiagram.findNodeForKey(ss1_key[i]);
            }else if(subject_system == 2)
            {
                var node = myFullDiagram.findNodeForKey(ss2_key[i]);
            }else if(subject_system == 3)
            {
                var node = myFullDiagram.findNodeForKey(ss3_key[i]);
            }

            var shape = node.findObject("SHAPE");
            shape.fill = "#87e8a1";

        }
        subject_system = subject_system + 1
    }

    function clearDiagram() {
        myFullDiagram.model = null;
    }


     function get_image() {
        myFullDiagram.makeImage();
        alert('Image saved');
    }

    function printDiagram() {
      var svgWindow = window.open();
      if (!svgWindow) return;  // failure to open a new Window
      var printSize = new go.Size(700, 960);
      var bnds = myFullDiagram.documentBounds;
      var x = bnds.x;
      var y = bnds.y;
      while (y < bnds.bottom) {
        while (x < bnds.right) {
          var svg = myFullDiagram.makeSVG({ scale: 1.0, position: new go.Point(x, y), size: printSize });
          svgWindow.document.body.appendChild(svg);
          x += printSize.width;
        }
        x = bnds.x;
        y += printSize.height;
      }
      setTimeout(function() { svgWindow.print(); }, 1);
    }

</script>

</html>