<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="{{ url_for('static',filename = 'js/go-debug.js')}}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'style.css')}}">
  <script src="{{ url_for('static',filename = 'js/tree_directory_view.js')}}"></script>
  <script src="{{ url_for('static',filename = 'js/manipulate_tree.js')}}"></script>
  

  <!-- <script src="{{ url_for('static',filename = 'user_study.js')}}"></script> -->
  <title>HCPC: Human Centric Program Comprehension Through Higher Level Abstraction</title>
</head>

<body onload="init()">


  <nav class="navbar  navbar-dark">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="#">HLA</a>
      </div>

      <ul class="nav navbar-nav">
        <li class="nav-item active"> <a href="#">Home</a> </li>
        <li class="nav-item"> <a href="https://ise.usask.ca/avijit/research/">How it works</a> </li>
        <li class="nav-item"> <a href="https://ise.usask.ca">About us</a> </li>

      </ul>

    </div>

  </nav>


  <div class="container" id="sample">

    <div class="container">
      <h2 class="text-focus-in" style="text-align: center;">HCPC: Human Centric Program Comprehension Through Higher Level Abstraction</h2>
    </div>


    <div class="d-sm-flex flex-row">

      <div class="p-2">
        <label> Select Subject System </label> <br>
        <select name="subject_system" id="subject_system_id">
          {% for ss in subject_systems %}
          <option value="{{ss}}">{{ss}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="p-2">
        <label> Select technique to lable nodes</label> <br>

        <select name="technique_choice" id="technique_choice_id">
          {% for tc in technique_choices %}
          <option value="{{tc}}">{{tc}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="p-2">
        <label> Highlight nodes with similar function</label> <br>
        <select id= 'function_file' name = 'select_elem' style="width: 75%"> </select>
        <button type="submit" id="search_button"> Search </button>
      </div>
    </div>




    <div class="container">
      <h3 style="text-align: center;"> Full diagram</h3>
    </div>

    <div class="grid-container">


      <div class="container" id="fullDiagram" style="height:550px;width:80%;border:1px solid black;margin:2px">

      </div>
      <div>
        <div class="card" style="width:45 rem;">

          <div class="card-body">
            <h5 class="card-title" id="node_key">Node Key</h5>
            <em class="node_details_label"> Number of Files </em>
            <div id="number_of_files"> </div>
            <em class="node_details_label"> Number of Execution paths </em>
            <div id="number_of_execution_paths"> </div>
            <em class="node_details_label"> Files</em>
            <div id="files" class="vertical-scrollbar"> </div>
            <em class="node_details_label"> Node summary</em>
            <div id="node_summary" class="vertical-scrollbar"> </div>
            <em class="node_details_label"> Execution patterns </em>
            <div class="vertical-scrollbar" id="node_patterns"> </div>
          </div>
        </div>

      </div>




    </div>

    <div class="container" style="text-align: center;">
      <button onclick="get_cluster()" type="submit"> GET Cluster </button>
    </div>


  </div>



  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <form action="{{url_for('save_response')}}" method="post" id="user_feedback">
            <div class="form-group">
              <label> Description of the cluster functionality </label>
              <label id="cluster_description"> </label>
            </div>


            <div class="form-group">
              <label>Technique 1</label> <br>
              <label id="tech1"></label><br>
              <label><input type="radio" name="n_t1" value="1" required>1</label>
              <label><input type="radio" name="n_t1" value="2" required>2</label>
              <label><input type="radio" name="n_t1" value="3" required>3</label>
              <label><input type="radio" name="n_t1" value="4" required>4</label>
              <label><input type="radio" name="n_t1" value="5" required>5</label>

            </div>
            <div class="form-group">
              <label>Technique 2</label> <br>
              <label id="tech2"></label><br>
              <label><input type="radio" name="n_t2" value="1" required>1</label>
              <label><input type="radio" name="n_t2" value="2" required>2</label>
              <label><input type="radio" name="n_t2" value="3" required>3</label>
              <label><input type="radio" name="n_t2" value="4" required>4</label>
              <label><input type="radio" name="n_t2" value="5" required>5</label>
            </div>
            <div class="form-group">
              <label>Technique 3</label> <br>
              <label id="tech3"></label><br>
              <label><input type="radio" name="n_t3" value="1" required>1</label>
              <label><input type="radio" name="n_t3" value="2" required>2</label>
              <label><input type="radio" name="n_t3" value="3" required>3</label>
              <label><input type="radio" name="n_t3" value="4" required>4</label>
              <label><input type="radio" name="n_t3" value="5" required>5</label>
            </div>
            <div class="form-group">
              <label>Technique 4</label> <br>
              <label id="tech4"></label><br>
              <label><input type="radio" name="n_t4" value="1" required>1</label>
              <label><input type="radio" name="n_t4" value="2" required>2</label>
              <label><input type="radio" name="n_t4" value="3" required>3</label>
              <label><input type="radio" name="n_t4" value="4" required>4</label>
              <label><input type="radio" name="n_t4" value="5" required>5</label>

            </div>
            <div class="form-group">
              <label>Technique 5</label> <br>
              <label id="tech5"></label><br>
              <label><input type="radio" name="n_t5" value="1" required>1</label>
              <label><input type="radio" name="n_t5" value="2" required>2</label>
              <label><input type="radio" name="n_t5" value="3" required>3</label>
              <label><input type="radio" name="n_t5" value="4" required>4</label>
              <label><input type="radio" name="n_t5" value="5" required>5</label>

            </div>
            <div class="form-group">
              <label>Technique 6</label> <br>
              <label id="tech6"></label><br>
              <label><input type="radio" name="n_t6" value="1" required>1</label>
              <label><input type="radio" name="n_t6" value="2" required>2</label>
              <label><input type="radio" name="n_t6" value="3" required>3</label>
              <label><input type="radio" name="n_t6" value="4" required>4</label>
              <label><input type="radio" name="n_t6" value="5" required>5</label>

            </div>
            <div class="form-group">
              <label for="user_summary" class="col-form-label">Your Summary from the description:(pick five significant
                words from the description and use comma to seperate them)</label>
              <input type="text" id="user_summary" name="user_summary" required>
              <input type="hidden" id="key" name="key">
            </div>
            <div class="form-group">
              <label for="comment" class="col-form-label">Any Comments:</label>
              <input type="text" id="comment" name="comment">
            </div>
            <input type="submit" value="Submit">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <footer class="page-footer font-small blue">


    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://ise.usask.ca/avijit/"> Avijit Bhattacharjee (iSE Lab) </a>
    </div>


  </footer>


</body>


</html>